.header_container {
    min-height: 100vh;
    overflow: hidden;
}

.contact_container {
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.contact_container div {
    position: relative;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.contact_container .correo {
    position: absolute;
    left: 256px;
    padding-left: 0.3em;
}
.contact_container:hover {
    padding-right: 30px;
}
.contact_container:hover .contactame,
.contact_container:hover .arrow {
    transform: translateX(-256px);
}

.contact_container:hover .correo {
    transform: translateX(-240px);
}
.contact_container .arrow {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.contact_container .contactame{
    margin-right: 25px;
}
