@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "NeueMontreal-Regular", sans-serif;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

.text-gradient {
    color: transparent;
    background: linear-gradient(
        74deg,
        #4184f1 0,
        #9d73cd 9%,
        #db6671 20%,
        #db6671 24%,
        #9a72c9 35%,
        #4285f3 44%,
        #9b72cb 50%,
        #dd6672 56%,
        #171718 75%,
        #131314 100%
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes shine {
    0% {
        -webkit-mask-position: 200%;
    }
    100% {
        -webkit-mask-position: -100%;
    }
}
.shine {
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 30%,
        #eee 50%,
        transparent 70%
    );
    -webkit-mask-size: 150% auto;
    animation: shine 5s ease-in-out infinite;
}

.link {
    position: relative;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link::after {
    content: "";
    position: absolute;
    color: inherit;
    top: -5px;
    right: -10px;
    height: 1rem;
    width: 1rem;
    background-image: url('../assets/images/link_arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    filter: invert(1);
    transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link:hover::after {
    opacity: 1;
    transform: translateY(-10px);
}

.box-Shadow{
    box-shadow: 0 40px 80px #00000080;
}

.fade-gradient {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 90%);
}

.hero-project {
    z-index: -1;
    background-position: 0 0;
    position: absolute;
    inset: 0%;
    height: 120vh;
}

.hero-noise {
    z-index: -3;
    opacity: 0.3;
    background-image: url(../assets/images/noise_overlay.png);
    background-position: 0 0;
    background-size: 200px;
    display: block;
    position: absolute;
    inset: 0%;
}

.hero-fade {
    z-index: -2;
    background-image: linear-gradient(to bottom, #10101000, #101010 60%);
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding-top: 48px;
    display: flex;
    position: absolute;
    inset: auto 0% 0%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1178ff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: #fafafa;
    background-color: #101010;
}

.text-glow {
    text-shadow: 0 5px 10px rgba(0, 87, 255, 0.15),
        0 -5px 10px rgba(255, 90, 0, 0.1), 0 -5px 25px rgba(255, 255, 255, 0.3);
}

.box-glow {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.bg-grey-light {
    background: rgb(129, 129, 129);
}

.bg-grey-dark {
    background: rgb(35, 43, 58);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.jetbrainsmono-light {
    font-family: "JetBrainsMono-Light", sans-serif;
}

.jetbrainsmono-regular {
    font-family: "JetBrainsMono-Regular", sans-serif;
}

.jetbrainsmono-bold {
    font-family: "JetBrainsMono-Bold", sans-serif;
}

.neuemontreal-bold {
    font-family: "NeueMontreal-Bold", sans-serif;
}

.neuemontreal-medium {
    font-family: "NeueMontreal-Medium", sans-serif;
}

.neuemontreal-regular {
    font-family: "NeueMontreal-Regular", sans-serif;
    letter-spacing: 0.2px;
}

.gloock-regular {
    font-family: "Gloock-Regular", sans-serif;
}
