@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "NeueMontreal-Regular", sans-serif;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

.hero-noise {
    z-index: -2;
    opacity: 0.2;
    background-image: url(../assets/images/noise_overlay.png);
    background-position: 0 0;
    background-size: 200px;
    display: block;
    position: absolute;
    inset: 0%;
}

.hero-fade {
    z-index: -1;
    background-image: linear-gradient(
        to bottom,
        #10101000,
        #101010 60%
    );
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding-top: 48px;
    display: flex;
    position: absolute;
    inset: auto 0% 0%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1178ff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: #101010;
}

.text-shadow-glow {
    text-shadow: 0 5px 10px rgba(0, 87, 255, 0.15),
        0 -5px 10px rgba(255, 90, 0, 0.1), 0 -5px 25px rgba(255, 255, 255, 0.3);
}

.bg-grey-light {
    background: rgb(129, 129, 129);
}

.bg-grey-dark {
    background: rgb(35, 43, 58);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
/* .poppins-light {
    font-family: "Poppins-Light", sans-serif;
}

.poppins-regular {
    font-family: "Poppins-Regular", sans-serif;
}

.poppins-medium {
    font-family: "Poppins-Medium", sans-serif;
}

.poppins-bold {
    font-family: "Poppins-Bold", sans-serif;
}

.nyghtserif-light {
    font-family: "NyghtSerif-Light", sans-serif;
}

.nyghtserif-regular {
    font-family: "NyghtSerif-Regular", sans-serif;
}

.nyghtserif-bold {
    font-family: "NyghtSerif-Bold", sans-serif;
}

.nyghtserif-medium {
    font-family: "NyghtSerif-Medium", sans-serif;
} */

.jetbrainsmono-light {
    font-family: "JetBrainsMono-Light", sans-serif;
}

.jetbrainsmono-regular {
    font-family: "JetBrainsMono-Regular", sans-serif;
}

.jetbrainsmono-bold {
    font-family: "JetBrainsMono-Bold", sans-serif;
}

.neuemontreal-medium {
    font-family: "NeueMontreal-Medium", sans-serif;
}

.neuemontreal-regular {
    font-family: "NeueMontreal-Regular", sans-serif;
    letter-spacing: 0.2px;
}

.gloock-regular {
    font-family: "Gloock-Regular", sans-serif;
}
